{% extends "index.html" %}

{% block main %}
<div class="form" style="text-align: left; padding-right: 20rem; background-color: white;">
    <form action="/estado" method="POST" style="text-align: left; background-color: white;">
        <div> <button type="submit" name="back"> Voltar </button> </div>
    </form>
</div>

<form method="POST" action="/estado">
    {% if not selected_university %}
        <label for="university">Escolha A Universidade:</label>
        <select name="university" id="university" required>
            <option value="">--Selecione A Universidade--</option>
            {% for universidade in universidades %}
                <option value="{{ universidade }}">--{{ universidade }}--</option>
            {% endfor %}
        </select>
        <button type="submit" name="submit1">Submit</button>
    {% endif %}
    {% if not selected_campus and selected_university %}
        <label for="campus">Escolha O Campus:</label>
        <select name="campus" id="campus" required>
            <option value="">--Selecione O Campus--</option>
            {% for campus in campi %}
                <option value="{{ campus }}">--{{ campus }}--</option>
            {% endfor %}
        </select>
        <button type="submit" name="submit2">Submit</button>
    {% endif %}
    {% if not selected_curso and selected_campus and selected_university %}
        <label for="curso">Escolha O Curso:</label>
        <select name="curso" id="curso" required>
            <option value="">--Selecione O Curso--</option>
            {% for curso in cursos %}
                <option value="{{ curso }}">--{{ curso }}--</option>
            {% endfor %}
        </select>
        <button type="submit" name="submit3">Submit</button>
    {% endif %}
</form>
{% endblock %}
