{% extends "index.html" %}

{% block main %}
<form action="/" method="POST">
    <button type="submit" name="estado" value="acre"> 
        <img src="/static/images/acre.png">
        <span> ACRE </span>
    </button>
    <button type="submit" name="estado" value="alagoas"> 
        <img src="/static/images/alagoas.png">
        <span> ALAGOAS </span>
    </button>
    <button type="submit" name="estado" value="amapa"> 
        <img src="/static/images/amapa.png">
        <span> AMAPÁ </span>
    </button>
    <button type="submit" name="estado" value="amazonas"> 
        <img src="/static/images/amazonas.png">
        <span> AMAZONAS </span>
    </button>
    <button type="submit" name="estado" value="bahia"> 
        <img src="/static/images/bahia.png">
        <span> BAHIA </span>
    </button>
    <button type="submit" name="estado" value="ceara"> 
        <img src="/static/images/ceara.png">
        <span> CEARÁ </span>
    </button>
    <button type="submit" name="estado" value="distrito_federal"> 
        <img src="/static/images/distrito_federal.png">
        <span> DISTRITO FEDERAL </span>
    </button>
    <button type="submit" name="estado" value="espirito_santo"> 
        <img src="/static/images/espirito_santo.png">
        <span> ESPÍRITO SANTO </span>
    </button>
    <button type="submit" name="estado" value="goias"> 
        <img src="/static/images/goias.png">
        <span> GOIÁS </span>
    </button>
    <button type="submit" name="estado" value="maranhao"> 
        <img src="/static/images/maranhao.png">
        <span> MARANHÃO </span>
    </button>
    <button type="submit" name="estado" value="mato_grosso"> 
        <img src="/static/images/mato_grosso.png">
        <span> MATO GROSSO </span>
    </button>
    <button type="submit" name="estado" value="mato_grosso_do_sul"> 
        <img src="/static/images/mato_grosso_do_sul.png">
        <span> MATO GROSSO DO SUL </span>
    </button>
    <button type="submit" name="estado" value="minas_gerais"> 
        <img src="/static/images/minas_gerais.png">
        <span> MINAS GERAIS </span>
    </button>
    <button type="submit" name="estado" value="para"> 
        <img src="/static/images/para.png">
        <span> PARÁ </span>
    </button>
    <button type="submit" name="estado" value="paraiba"> 
        <img src="/static/images/paraiba.png">
        <span> PARAÍBA </span>
    </button>
    <button type="submit" name="estado" value="parana"> 
        <img src="/static/images/parana.png">
        <span> PARANÁ </span>
    </button>
    <button type="submit" name="estado" value="pernambuco"> 
        <img src="/static/images/pernambuco.png">
        <span> PERNAMBUCO </span>
    </button>
    <button type="submit" name="estado" value="piaui"> 
        <img src="/static/images/piaui.png">
        <span> PIAUÍ </span>
    </button>
    <button type="submit" name="estado" value="rio_de_janeiro"> 
        <img src="/static/images/rio_de_janeiro.png">
        <span> RIO DE JANEIRO </span>
    </button>
    <button type="submit" name="estado" value="rio_grande_do_norte"> 
        <img src="/static/images/rio_grande_do_norte.png">
        <span> RIO GRANDE DO NORTE </span>
    </button>
    <button type="submit" name="estado" value="rio_grande_do_sul"> 
        <img src="/static/images/rio_grande_do_sul.png">
        <span> RIO GRANDE DO SUL </span>
    </button>
    <button type="submit" name="estado" value="rondonia"> 
        <img src="/static/images/rondonia.png">
        <span> RONDÔNIA </span>
    </button>
    <button type="submit" name="estado" value="roraima"> 
        <img src="/static/images/roraima.png">
        <span> RORAIMA </span>
    </button>
    <button type="submit" name="estado" value="santa_catarina"> 
        <img src="/static/images/santa_catarina.png">
        <span> SANTA CATARINA </span>
    </button>
    <button type="submit" name="estado" value="sao_paulo"> 
        <img src="/static/images/sao_paulo.png">
        <span> SÃO PAULO </span>
    </button>
    <button type="submit" name="estado" value="sergipe"> 
        <img src="/static/images/sergipe.png">
        <span> SERGIPE </span>
    </button>
    <button type="submit" name="estado" value="tocantins"> 
        <img src="/static/images/tocantins.png">
        <span> TOCANTINS </span>
    </button>
</form>
{% endblock %}
